name: build-docker

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-18.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v1

    - name: APT update
      run: sudo apt update

    # Build image with docker
    - name: Run build-docker.sh
      run: ./build-docker.sh

    # Print output directory files
    - name: List output files
      run: ls -lh deploy

    - name: Upload built image
      uses: actions/upload-artifact@v2
      with:
        name: built-image
        path: ./deploy/image_*PhotonVision.zip
        if-no-files-found: error

    - name: Upload debug artifacts
      uses: actions/upload-artifact@v2
      with:
        name: debug-files
        path: | 
          ./deploy/*PhotonVision.info
          ./deploy/build.log
        if-no-files-found: error
